@inject NavigationManager _navigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OES Admin Panel</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-people" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sessions">
                <span class="oi oi-key" aria-hidden="true"></span> Sessions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="central">
                <span class="oi oi-globe" aria-hidden="true"></span> Central
            </NavLink>
        </div>
    </nav>
    <div class="nav-item px-3">
        <AuthorizeView>
            <Authorized>
                <button type="button" class="btn btn-danger" @onclick="RedirectToLogout">
                    Logout
                </button>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void RedirectToLogout()
    {
        _navigationManager.NavigateTo("identity/account/logout", true);
    }
}
