@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@media (prefers-color-scheme: light) {
    :root {
        --text-50: #ebecf9;
        --text-100: #d8daf3;
        --text-200: #b0b4e8;
        --text-300: #898fdc;
        --text-400: #6269d0;
        --text-500: #3b44c4;
        --text-600: #2f369d;
        --text-700: #232976;
        --text-800: #171b4f;
        --text-900: #0c0e27;
        --text-950: #060714;
        --background-50: #eeecf8;
        --background-100: #dddaf1;
        --background-200: #bbb4e4;
        --background-300: #998fd6;
        --background-400: #7769c9;
        --background-500: #5644bb;
        --background-600: #443696;
        --background-700: #332970;
        --background-800: #221b4b;
        --background-900: #110e25;
        --background-950: #090713;
        --primary-50: #ecebf9;
        --primary-100: #dad8f3;
        --primary-200: #b5b1e7;
        --primary-300: #8f8adb;
        --primary-400: #6a63cf;
        --primary-500: #453cc3;
        --primary-600: #37309c;
        --primary-700: #292475;
        --primary-800: #1c184e;
        --primary-900: #0e0c27;
        --primary-950: #070614;
        --secondary-50: #f4ebf9;
        --secondary-100: #ead8f3;
        --secondary-200: #d4b0e8;
        --secondary-300: #bf89dc;
        --secondary-400: #aa62d0;
        --secondary-500: #943bc4;
        --secondary-600: #772f9d;
        --secondary-700: #592376;
        --secondary-800: #3b174f;
        --secondary-900: #1e0c27;
        --secondary-950: #0f0614;
        --accent-50: #f8ebf9;
        --accent-100: #f1d8f3;
        --accent-200: #e2b0e8;
        --accent-300: #d489dc;
        --accent-400: #c562d0;
        --accent-500: #b73bc4;
        --accent-600: #922f9d;
        --accent-700: #6e2376;
        --accent-800: #49174f;
        --accent-900: #250c27;
        --accent-950: #120614;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-50: #060714;
        --text-100: #0c0e27;
        --text-200: #171b4f;
        --text-300: #232976;
        --text-400: #2f369d;
        --text-500: #3b44c4;
        --text-600: #6269d0;
        --text-700: #898fdc;
        --text-800: #b0b4e8;
        --text-900: #d8daf3;
        --text-950: #ebecf9;
        --background: #05040B;
        --background-50: #090713;
        --background-100: #110e25;
        --background-200: #221b4b;
        --background-300: #332970;
        --background-400: #443696;
        --background-500: #5644bb;
        --background-600: #7769c9;
        --background-700: #998fd6;
        --background-800: #bbb4e4;
        --background-900: #dddaf1;
        --background-950: #eeecf8;
        --primary-50: #070614;
        --primary-100: #0e0c27;
        --primary-200: #1c184e;
        --primary-300: #292475;
        --primary-400: #37309c;
        --primary-500: #453cc3;
        --primary-600: #6a63cf;
        --primary-700: #8f8adb;
        --primary-800: #b5b1e7;
        --primary-900: #dad8f3;
        --primary-950: #ecebf9;
        --secondary-50: #0f0614;
        --secondary-100: #1e0c27;
        --secondary-200: #3b174f;
        --secondary-300: #592376;
        --secondary-400: #772f9d;
        --secondary-500: #943bc4;
        --secondary-600: #aa62d0;
        --secondary-700: #bf89dc;
        --secondary-800: #d4b0e8;
        --secondary-900: #ead8f3;
        --secondary-950: #f4ebf9;
        --accent-50: #120614;
        --accent-100: #250c27;
        --accent-200: #49174f;
        --accent-300: #6e2376;
        --accent-400: #922f9d;
        --accent-500: #b73bc4;
        --accent-600: #c562d0;
        --accent-700: #d489dc;
        --accent-800: #e2b0e8;
        --accent-900: #f1d8f3;
        --accent-950: #f8ebf9;
    }
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100vh;
}

.bg-login {
    background-color: var(--background);
    background-image: linear-gradient(to bottom right, var(--background-400), var(--background-300), var(--background-200), var(--background));
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wrapper {
    width: 50%;
    height: 50%;
    overflow: hidden;
    position: relative;
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffc0cb; /* Light pink color */
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn-primary {
    color: var(--text-950);
    background-color: var(--primary-300);
    border: none;
}

    .btn-primary:hover {
        color: var(--text-950);
        background-color: var(--primary-400);
        border: none;
    }

.text-950 {
    color: var(--text-950);
}

.bg-500 {
    background-color: var(--background-500);
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-950);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

    .form-control:focus {
        color: var(--text-950);
        background-color: var(--background-500);
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(13,110,253,.25)
    }